{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "complexity": [1, { "max": 10 }],
    "no-debugger": 2,
    "eqeqeq": [1, "always"],
    "no-eval": 2,
    "max-statements-per-line": [1, { "max": 1 }],
    "curly": 2,
    "no-array-constructor": 1,
    "no-new-object": 1,
    "no-bitwise": 1,
    "no-new-wrappers": 2,
    "guard-for-in": 1,
    "no-inner-declarations":2,
    "comma-dangle": [2, "never"],
    "no-cond-assign": 2,
    "no-extra-label": 2,
    "no-unreachable": 2,
    "default-case": 2,
    "no-fallthrough": 2,
    "no-empty": 2,
    "max-params": [1, 8],
    "no-octal": 2,
    "strict": [1, "global"],
    "max-lines": [1, {"max": 300, "skipBlankLines": true, "skipComments": true}],
    "indent": [1, 2],
    "no-tabs": 2,
    "no-implied-eval": 2,
    "no-loop-func": 2,
    "vars-on-top": 2,
    "no-warning-comments": [1, { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "no-extra-boolean-cast": 1,
    "no-trailing-spaces": 1,
    "line-comment-position": [2, { "position": "above" }],
    "no-unused-vars": [1, { "vars": "all", "args": "all" }],
    "no-alert": 1,
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "no-sequences": 2,
    "no-labels": 0,
    "max-depth": [1, { "max": 3 }],
    "no-inline-comments": 1,
    "no-use-before-define": [2, { "functions": false, "classes": false }],
    "no-redeclare": 2,
    "no-with": 2,
    "no-multi-str": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2
  }
}