<md-card>
    <md-card-content>
        <md-content layout-padding="">
            <md-input-container class="md-block">
                <label>message text</label>
                <textarea ng-model="vm.message.text" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>
        </md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="submitCreateMessage()">Create</md-button>
    </md-card-actions>
</md-card>