<md-card-header >
  <md-card-avatar>
    <a ng-href="{{  vm.item.avatarUrl  }}">          
    <img ng-src="{{  vm.item.avatarSrc }}" />
    </a>
  </md-card-avatar>
  <md-card-header-text>
    <span class="md-title">{{  vm.item.author  }}</span>
    <span class="md-subhead">{{  vm.item.position  }}</span>
  </md-card-header-text>
</md-card-header>
<div class="imgContainer">
  <img ng-src="{{  vm.item.header  }}" class="md-card-image" alt="Washed Out">
</div>
<md-card-title>
  <md-card-title-text>
      <span class="md-headline">{{  vm.item.title  }}</span>
  </md-card-title-text>
</md-card-title>
<md-card-content >
  <p class="textContainer">
      {{  vm.item.content  }}
  </p>
</md-card-content>
<md-card-footer>
  <md-button  class="infoButton" ng-href="{{  vm.item.info  }}">+INFO</md-button>
  <md-button class="right md-icon-button" aria-label="Favorite" ng-click='vm.setItemLike( vm.item )'>
      <i class="material-icons md-48"  ng-class='{active: vm.item.like === true}'>favorite</i>
  </md-button>
</md-card-footer>
