.toolbar{
  background-color: #4d265c;  
  color: white;
}
.toolbar-brand{
  font-family: 'OpenSans-Bold';
  margin-left: 20px;
  margin-right: 10px;
}

.toolbar-small-text{
  font-size: small;
  margin-right: 20px;
}

.ng-scope .md-button.md-ink-ripple:hover{
  background-color: white;
  color: #4d265c;
}